
.header {
    border-bottom: 1px solid rgb(0, 0, 0, 0.5);
    padding: 20px;

    box-shadow: 4px 4px 4px rgb(108, 114, 111, 0.5);
    background-color: rgb(94, 84, 103);
}
.navLink {
    text-decoration: none;
    color: black;
    background-color: white;
    font-size: 20px;
    padding: 20px;
    margin-right: 20px;
    border-radius: 10px;
    display: inline-flex;
    border: 1px solid black;
    transition: all 0.3s;

}


