.moviesList{
    list-style: none;
    padding: 0;
}

.moviesItem{
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 4px;
    text-decoration: none;
    display: flex;
    gap: 20px;
    
   
}

.moviesLink{
    color: black;
    text-decoration: none;
    padding-top: 10px;
    margin-left: 30px;
    
}

.moviesLink:hover{
    color: rgb(234, 216, 249);
}
.moviesRaiting{
    width: 40px;
    text-align: start;
    border-radius: 50%;
    background-color: white;
    padding: 10px;
    margin: 0;
    text-align: center;
}